*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a{color:inherit;}
/* ===================================== fonts ========================================================= */
@font-face {
  font-family: 'Onest';
  font-weight: 500;
  font-style: normal;
  src: local('AlumniSans'),
    url('../fonts/Onest-Medium.woff') format('woff'),
    url('../fonts/Onest-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Onest';
  font-weight: 400;
  font-style: normal;
  src: local('AlumniSans'),
    url('../fonts/Onest-Regular.woff') format('woff'),
    url('../fonts/Onest-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'AlumniSans';
  font-weight: 400;
  font-style: normal;
  src: local('AlumniSans'),
    url('../fonts/AlumniSans-Regular.woff') format('woff'),
    url('../fonts/AlumniSans-Regular.woff2') format('woff2');
  font-display: swap;
}
/* ============================================================================================== */
:root {
  --color_text_header: #383838;
  --color_hover: #FF610C;
  --text_size_main: 16px;
  --text_size_main_plus: 18px;
  --text_size_main_minus: 14px;
  --header_height: 100px;
  --container_padding: 26px;
}
/* ============================================================================================== */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {transform: rotate(45deg);}
.hamRotate180.active {transform: rotate(180deg);}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5;
  stroke-linecap: round;
}
.ham7.active .line {stroke: #fff;}
.ham7 .top {stroke-dasharray: 26 82;}
.ham7 .middle {stroke-dasharray: 40 111;}
.ham7 .bottom {stroke-dasharray: 27 161;}
.ham7.active .top {
  stroke-dasharray: 37 82;
  stroke-dashoffset: -62px;
  d: path("m 70 33 h -40 c 0 0 -6 1.3688 -6 8.5 c 0 7.1312 6 8.5013 6 8.5013 l 20 -0.0013");
}
.ham7.active .middle {stroke-dashoffset: 23px;}
.ham7.active .bottom {
  stroke-dasharray: 40 161;
  stroke-dashoffset: -81px;
  d: path("m 69.5754 67.0738 h -40 c -5.59275 0 -6.8736 -9.34858 1.37103 -9.34858 c 8.24463 0 19.0536 21.7971 19.0536 12.2748 l 0 -40");
}
/* ============================================================================================== */
.menu_btn {
  display: none;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color_text_header);
  border-radius: 20px;
  transition: opacity .3s ease-in-out;
  width: 48px;
  height: 48px;
}
.menu_btn--active {
  background-color: var(--color_text_header);
  border: 2px solid var(--color_text_header);
}
/* ============================================================================================== */
/* =================================== footer_menu ============================================ */
.footer_menu_box nav>ul>li>a[href=""]:hover {
  cursor: unset;
}
.footer_menu_box nav>ul>li>a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 20px;
  display: block;
}
.footer_menu_box nav>ul>li {
  max-width: 176px;
  flex: 1 1 0;
}
.footer_menu_box nav {
  font-size: 14px;
  color: #929292;
  line-height: 1.4;
}
.footer_menu_box nav>ul {
  display: flex;
  gap: 54px;
  min-width: 634px;
  justify-content: space-between;
}
.footer_menu_box nav>ul>li>ul {
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in-out;
}
.footer_menu_box nav>ul>li>ul>li {
  margin-bottom: 16px;
}
.footer_menu_box nav>ul>li>ul a {
  transition: color .2s ease-in-out;
}
.footer_menu_box nav>ul>li>ul a:hover {
  color: var(--color_hover);
}
/* =================================== footer_menu ============================================ */
.content {
  height: 200px;
}
.overlay {
	position: fixed;
	z-index: 99;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	top: 0;
	left: 0;
	width: 150%;
	height: 150%;
	visibility: hidden;
	transition: all .3s ease-in-out;
	backdrop-filter: blur(5px);
}
.overlay--visible {visibility: visible;opacity: 1;}
.scroll-nane {overflow: hidden;}
body {
  font-family: 'Onest';
  background-color: #F3F3F3;
}
.container {
  padding: 0 var(--container_padding);
  max-width: 1350px;
  margin: 0 auto;
}
.header {
  background-color: #fff;
  position: relative;
  z-index: 999;
}
.logo {
  height: 77px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top_row {
  border-bottom: 1px solid #C8C8C8;
  padding: 12px 0 11px;
  background-color: #fff;
  z-index: 999;
  position: relative;
}
.header_menu {
  padding: 20px 0;
  font-weight: 500;
  width: 100%;
  z-index: -1;
  background-color: #fff;
  overflow: hidden;
  z-index: 999;
  transition: padding .3s ease-in-out;
}
.header_menu.header_menu--active {
  padding: 40px 0 30px;
}
.header_menu.header_menu--active .container {
  max-height: calc(100vh - 120px);
  opacity: 1;
}
.header_menu .container {
  background-color: #fff;
  transition: max-height .3s ease-in-out,opacity .2s ease-in-out;
}
.header_menu .main_btn {
  display: none;
}
.header_menu nav,.header_menu ul {width: 100%;}
.header_menu ul {
  display: flex;
  justify-content: space-between;
}
.header_menu li a {
  color: var(--color_text_header);
  font-size: 16px;
  line-height: 1.5;
  transition: color .2s ease-in-out;
}
.header_menu li a:hover {
  color: var(--color_hover);
}
.main_btn {
  padding: 10px 24px;
  line-height: 1.5;
  color: var(--color_text_header);
  font-size: 16px;
  border: 2px solid var(--color_text_header);
  border-radius: 20px;
  transition: color .2s ease-in-out,background-color .2s ease-in-out;
  white-space: nowrap;
  text-align: center;
}
.main_btn:hover {
  color: #fff;
  background-color: var(--color_text_header);
}
.main_btn_2 {
  display: inline-block;
  padding: 12px 24px;
  line-height: 1.5;
  font-size: 16px;
  border-radius: 20px;
  color: #fff;
  background-color: #FF610C;
  font-weight: 500;
}
.main_number {
  font-family: 'AlumniSans';
  font-size: 30px;
  color: var(--color_text_header);
  line-height: 1;
  display: flex;
  align-items: center;
  transition: color .2s ease-in-out;
}
.main_number path {
  transition: fill .2s ease-in-out;
}
.main_number:hover {
  color: var(--color_hover);
}
.main_number:hover path {
  fill: var(--color_hover);
}
.feedback_box {
  display: flex;
  gap: 20px;
  height: fit-content;
}
.footer_contacts_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_contacts_list .mail-link::before,
.footer_contacts_list .footer_adress::before {
  content: '';
  width: 24px;
  height: 24px;
}
.footer_contacts_list .mail-link::before {
  background: url('../img/mail.svg') center / cover no-repeat;
}
.footer_contacts_list .footer_adress::before {
  background: url('../img/pin.svg') center / cover no-repeat;
}
.footer_contacts_list .mail-link,
.footer_contacts_list .footer_adress {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.footer_contacts_list .mail-link {
  transition: color .2s ease-in-out;
}
.footer_contacts_list .mail-link:hover {
  color: var(--color_hover);
}
.footer_middle_row .container,
.footer_top_row .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer_middle_row .container {
  align-items: unset;
}
.footer_top_row {
  background-color: #fff;
  border-bottom: 1px solid #C8C8C8;
  padding: 12px 0 11px;
}
.footer_middle_row {
  padding: 40px 0 64px;
}
.copy_row {
  padding-bottom: 40px;
}
.copy_row .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.polit {
  display: flex;
  gap: 66px;
  font-size: 14px;
  color: #929292;
  font-weight: 500;
  line-height: 1.4;
}
.swiper-slide {
  height: 820px;
  background-size: cover;
  background-position: center center;
}
.bunner_pagination {
  text-align: center;
}
/* .section_bunner {
  position: relative;
} */
.swiper_nav_box .container {
  position: relative;
}
.swiper_nav_box {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 999;
}
.bunner_btn_prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.section_bunner .title_box {
  margin-top: 80px;
}
.title_box .title {
  font-size: 90px;
  line-height: 1;
  color:#fff;
  font-family: 'AlumniSans';
  max-width: 850px;
  font-weight: 400;
  margin-bottom: 30px;
}
.bunner_btn_next {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.swiper-pagination-bullet-active {
  width: 30px;
  background: #F05513;
  border: 1px solid #fff;
}
.swiper-pagination-bullet {
  transition: all .3s ease-in-out;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid #9A9A9A;
  opacity: 1;
}
@media (max-width: 1100px) {
  .menu_btn {display: flex;}
  .header_top_row {border-bottom: unset;}
  .header {border-bottom: 1px solid #C8C8C8;}
  .header_menu {
    position: absolute;
    top: calc(100% - 1px);
    padding: 0;
  }
  .header_menu li a {
    font-size: 46px;
    font-family: 'AlumniSans';
    line-height: 1;
  }
  .header_menu .container nav {
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: var(--container_padding);
    margin-right: calc(var(--container_padding) * -1);
  }
  .header_menu .container {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    opacity: 0;
  }
  .header_menu ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    margin-bottom: 20px;
  }
  .footer_menu_box nav>ul {
    gap: 34px;
    min-width: 588px;
  }
  .footer_middle_row {
    padding-bottom: 44px;
  }
  .footer_contacts_list .mail-link,.footer_contacts_list .footer_adress {
    font-size: 14px;
  }
  .polit {
    gap: 12px;
  }
}
@media (max-width: 920px) {
  :root {
    --container_padding: 20px;
  }
  .footer_middle_row .container {
    flex-direction: column;
    gap: 33px;
  }
  .footer_menu_box nav>ul {
    flex-direction: column;
    gap: 16px;
  }
  .polit {
    flex-direction: column;
    gap: 30px;
  }
  .copy_row .container {
    align-items: end;
  }
  .footer_menu_box nav>ul>li {
    max-width: 100%;
    border-bottom: 1px solid #AEAEAE;
  }
  .footer_menu_box nav>ul {
    min-width: unset;
  }
  .footer_menu_box nav>ul>li>a[href=""]:hover {
    cursor: pointer;
  }
  .footer_menu_box nav>ul>li>a {
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .footer_menu_box nav>ul>li>a[href=""]::before {
    content: '';
    width: 16px;
    height: 16px;
    background: url('../img/chevron.svg');
    transition: transform .3s ease-in-out;
  }
  .footer_menu_box nav>ul>li>a[href=""].active::before {
    transform: rotate(-180deg);
  }
  .footer_menu_box nav>ul>li>ul {
    max-height: 0;
    overflow-y: hidden;
  }
  .footer_middle_row {
	  padding-bottom: 30px;
  }
}
@media (max-width: 750px) {
  .main_number {
    position: relative;
    width: 48px;
    height: 48px;
    border: 2px solid var(--color_text_header);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_number::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    background: url('../img/phone_mobile_btn.svg') center center / cover no-repeat;
  }
  .main_number svg,.main_number span {display: none;}
  .feedback_box {gap: 12px;}
  .logo {height: 60px;}
  .header_top_row {padding: 8px 0 7px;}
}
@media (max-width: 610px) {
  :root {
    --container_padding: 13px;
  }
  .header .main_btn {display: none;}
  .header_menu .main_btn {display: block;}
  .header_menu li a {font-size: 24px;}
  .footer .main_btn {display: none;}
  .header_menu.header_menu--active {padding: 30px 0;}
  .header_menu.header_menu--active .container {max-height: calc(100vh - 130px);}
}
@media (max-width: 500px) {
  .copy_row .container {
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }
}
@media (max-width: 390px) {
  .header .main_btn {width: 100%;}
  .header_top_row {padding: 6px 0 5px;}
}